.contacts {
  color: $basic-orange-color;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__link {
  position: relative;

  color: inherit;
  text-decoration: underline;

  &--big {
    font-size: 16px;
    line-height: 32px;
  }

  & svg {
    position: absolute;
    top: -5px;
    left: -40px;

    fill: none;
    stroke: $basic-grey-color;

    @media (max-width: $mobile-width-only) {
      top: -5px;
      left: -35px;
    }
  }

  &--phone svg {
    width: 30px;
    height: 30px;
  }

  &--mail svg {
    width: 26px;
    height: 20px;

    fill: $basic-grey-color;
    stroke: none;
  }
}

.contacts__link-email {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.contacts__link-text {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline;
  }
}

.contacts__item {
  margin-bottom: 19px;
  padding-left: 41px;

  @media (max-width: $mobile-width-only) {
    padding-left: 31px;
  }
}
