.tab-list {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  display: flex;

  list-style: none;
  border-bottom: 1px solid $basic-border-dark-color;
}

.tab-list__item {
  margin-right: 99px;
  flex-shrink: 0;
}

.tab-list__item:last-child {
  margin-right: 0;
}

.tab-list__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $basic-border-dark-color;

  &--selected {
    color: $basic-orange-color;
  }
}
