$font-stack: "Montserrat", "Arial", sans-serif;

$basic-white-color: #ffffff;
$basic-overlay-color: #fbf8f8;
$basic-transparent-white-color: rgba(255, 255, 255, 0.7);
$basic-black-color: #000000;
$basic-dark-color: #141517;
$basic-very-dark-color: #2c2e3f;
$basic-overlay-dark-color: rgba(20, 21, 23, 0.6);
$basic-transparent-grey-color: rgba(20, 21, 23, 0.7);
$basic-half-dark-color: rgba(20, 21, 23, 0.5);
$basic-border-dark-color: rgba(44, 46, 63, 0.3);
$basic-text-dark-color: rgba(44, 46, 63, 0.7);
$basic-text-grey-color: #48494d;
$basic-orange-color: #fe7865;
$basic-hover-orange-color: #f17d4b;
$basic-grey-color: #d7d9df;
$basic-grey-blue: #5d7288;

$desktop-width: 1024px;
$tablet-width-only: 1023px;
$mobile-width-only: 767px;
